cli-helpers==2.2.1
click==8.1.3
configobj==5.0.6
greenlet==1.1.3
memory-profiler==0.60.0
pendulum==2.1.2
pgcli==3.5.0
pgspecial==2.0.1
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg==3.1.2
psycopg2==2.9.3
Pygments==2.13.0
python-dateutil==2.8.2
pytzdata==2020.1
setproctitle==1.3.2
six==1.16.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
tabulate==0.8.10
typing_extensions==4.3.0
wcwidth==0.2.5
